# Node
node_modules
.pnpm-store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next
.next/cache
out

# VCS
.git
.gitignore

# Env
.env*

# Docker
Dockerfile
docker-compose.yml

# OS
.DS_Store
Thumbs.db

